.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
/.nova

.env
.env.*
!.env.example
/auth.json

/vendor
/node_modules

/public/build
/public/hot
/public/storage

*.log
/storage/*.key
/storage/pail
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

.phpactor.json
.phpunit.result.cache
/.phpunit.cache
coverage/

/.tmp
Homestead.json
Homestead.yaml
